.icon-background  {
    position: absolute;
    top: 10px;
    /* Ajusta según necesites */
    right: 15px;
    /* Ajusta según necesites */
    width: 60px;
    /* Tamaño del fondo circular */
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-muted);
    opacity: 0.7;
    transform: rotate(10deg);
}


/* Encabezado */
.reportes-header {
    text-align: center;
    margin-bottom: 3rem;
}

.reportes-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-main);
    margin-bottom: 0.5rem;
}

.reportes-header p {
    color: var(--text-muted);
    font-size: 1.1rem;
}

/* Grid de tarjetas */
.reportes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

/* Tarjetas */
.reporte-card {
    background: var(--fw-white);
    border-radius: 1.2rem;
    padding: 1.5rem;
    text-align: center;
    transition: all 0.3s ease;
}

.reporte-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
}

/* Iconos */
.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.icon-blue {
    color: var(--fw-emerald);
}

.icon-red {
    color: var(--fw-strawberry);
}

.icon-green {
    color: var(--fw-emerald);
}

.icon-emerald {
    color: var(--fw-emerald);
}

.icon-indigo {
    color: var(--brand-secondary);
}

.icon-orange {
    color: var(--fw-saffron);
}

.icon-teal {
    color: var(--fw-emerald);
}

.reporte-card p {
    font-size: 0.9rem;
    color: var(--text-muted);
}


body.dark-theme .reporte-card {
    background-color: var(--bg-card);
    border: 1px solid  var(--brand-secondary);
}