/* =============================== */
/* === Botón Motion Adaptable === */
/* =============================== */

/* --- 1. MODO CLARO (Default) --- */
/* Esta clase define los colores base del botón */
.btn-motion-theme {
    background: linear-gradient(135deg, rgb(233, 233, 233), rgb(243, 247, 255));
    color: #292929;
    text-align: center!important;
    font-weight: 500;
    border:1px solid #23282c;
    border-color: #23282c;
}

/* --- 2. MODO NOCHE (Dark) --- */
/* Sobrescribimos la clase cuando 'body' tenga 'dark-theme' */
body.dark-theme .btn-motion-theme {
    /* Un degradado oscuro */
    background: linear-gradient(135deg, #2b2f36, #1d232c)!important;
text-align: center !important;
    /* Texto claro */
    color: #f1f1f1;

    /* Borde oscuro */
    border-color: #4a5568;
}