.contenedor-scroll{
    height: calc(100vh - 65px)!important;
    background-color: rgb(233, 233, 233);
}
/* 📱 Para tablets y celulares */
@media (max-width: 991px) {
    .contenedor-scroll {
        height: calc(100vh - 120px);
    }
}

body.dark-theme .contenedor-scroll{
    background-color: rgb(45, 52, 59);
}

